.section-card {
  @include desktop-view {
    padding: 5px;
    align-items: center;
  }

  &__content {
    height: 280px;
    margin: 0 25px 30px 25px;
    padding-bottom: 20px;

    &--parragraph {
      font-family: $raleway;
      font-weight: $raleway-regular;
      font-size: $large;
    }
    &--title {
      font-family: $raleway;
      font-weight: $raleway-bold;
      font-size: $x-large;
    }
  }
}

h2 {
  font-family: $raleway;
  font-weight: $raleway-bold;
  font-size: $xx-large;
  padding: 30px 0;
  margin-left: 30px;
}
