.navigation {
  &__logo {
    width: 150px;
    padding: 10px;

    @include desktop-view {
      padding-left: 150px;
      width: 250px;
    }
  }
}
.navigation-items {
  justify-content: flex-end;
  padding-right: 80px;
  color: $granite-gray;
  @include desktop-view {
    margin-right: 20px;
    width: 250px;
  }

  &__list {
    &--items {
    }
  }
}
