//breakpoints
$min-mobile: 576px;
$min-tablet: 820px;
$min-laptop: 1024px;

//Colors
$white: #FFF;
$light-gray: #e9e9e9;
$smoky-black: #0C0910;
$transparent:  rgba(34,34,34,0.75);
$granite-gray: #39383a;
$quick-silver: #9b9b9b;
//Typography
$raleway: 'Raleway', sans-serif;
$raleway-regular: 400;
$raleway-bold: 700;
//Font sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;